<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Kozin41Entities" connectionString="metadata=res://*/KozinModel.csdl|res://*/KozinModel.ssdl|res://*/KozinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-5\SQLEXPRESS;initial catalog=Kozin41;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>